GOOGLE_ANDROID_CLIENT_ID_DEBUG=xxxxxx-debug.apps.googleusercontent.com
GOOGLE_ANDROID_CLIENT_ID_RELEASE=yyyyyy-release.apps.googleusercontent.com
GOOGLE_IOS_CLIENT_ID=your_id_here
GOOGLE_WEB_CLIENT_ID=your_id_here
FACEBOOK_APP_ID=your_id_here